.contacter_nm{
	font-size: 30px;
	text-align: center;
	margin-top:0;
	padding-bottom: 100;


}


.texte_nm{
	text-align: justify;
	margin-left: 800px;
	margin-right: 20px;

	
}
.coordonnees_nm{
	text-align: justify;
	margin-left: 800px;
	margin-right: 20px;
	

}

.reseaux_nm{
	margin-left: 800px;
	margin-right: 20px;
	margin-top: -50px;
	
}

.formulaire_nm{

	margin-top: -168px;
	padding-left: 100px;
	margin-left: 50px;
	text-align: left;

}

textarea{
	width:300px ;
	height:300px ;
}



.submit_nm{
	margin-left: 400px;
	margin-top: -100px;
}

.encadre1{

	margin-left: 85px;
}

.encadre2{
	margin-left: 42px;

}

